.feature{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background-color:#2a7ffd;
    color: white;
    border-radius: 10px;
}


.item{
    position: relative;
    text-align: center;
    background-color:#f8f9fa;
    padding: 3rem;
    border-radius: 10px;
}